@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

.header {
    background-color: #162f65;
    display: flex;
    align-items: center;
    height: 4vw;
}

.header-logo {
    height: 80px;
    font-size: 20px;

    align-items: top;
}

.logo-img {
width: 50px;
    height: 50px;
    padding: 1vw;
}

.logolink {
color: #e7e6dd;
    padding: 1vw;
}

.header-link {
    height: 20px;
    font-size: 20px;
    color: #e8c766;
    padding: 1vw;

    font-family: 'Rubik', sans-serif;
    text-decoration: none;
}

.logout-button {
    background-color: #3361ac;
    color: #e7e6dd;

    border: 2px solid #0f2403;
    border-radius: 6px;

    height: 2vw;
    margin: 1vw;

    align-items: center;

    font-family: 'Rubik', sans-serif;
}


