.header-bar {
    height: 6vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #162f65;
}

.header-logo {
    visibility: visible;
}

.logo-img {
    width: 80px;
    height: 50px;
    padding: 1vh;

    cursor: pointer;
}

.links-container {
    display: flex;
}

.header-link {
    margin-left: 1vw;

    color: #e8c766;

    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    font-size: 20px;
}

.logout-button {
    background-color: #3361ac;
    color: #e7e6dd;

    border: 3px solid #0f2403;
    border-radius: 6px;

    height: 2vw;
    width: 5vw;
    margin: 1vw;

    align-items: center;

    font-family: 'Rubik', sans-serif;
}

.logout-button:hover {
    background-color: #e7e6dd;
    color: #162f65;
}