.home-page {
    width: 100vw;
    height: 94vh;

    background: linear-gradient(to right, #3361ac, #162f65);
}

.cards-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3vw;
    gap: 3vw;
}