@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

.home-page {
    width: 100%;
    height: 100%;

    background: linear-gradient(to right, #3361ac, #162f65);
}

.head-section {
    height: 8vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #e7e6dd;

    font-family: 'Rubik', sans-serif;
    /*font-weight: 500;*/
}

.head-section p {
    margin-left: 2vw;

    font-size: 40px;
}

.search-bar {
    height: 5vh;
    width: 20vw;
    margin-right: 1vw;

    padding-left: 0.5vw;

    background-color: #e8c766;

    border: 4px solid #0f2043;
    border-radius: 10px;

    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}

.search-button {
    height: 6vh;
    width: 6vh;
    margin-left: 0.5vw;
    margin-right: 2vw;

    background-color: #3361ac;
    color: #e8af30;

    border: 4px solid #162f65;
    border-radius: 30%;

    font-size: 20px;

    cursor: pointer;
}

.search-button:hover {
    background-color: #e8af30;
    color: #3361ac;
}

.cards-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3vw;
    gap: 3vw;
}

/* Scrollable container for pending requests */
.pending-requests {
    margin-bottom: 5px;
    padding: 15px;
    border: 5px solid #e8af30;
    /* Box border */
    border-radius: 10px;
    /* Rounded corners */
    background-color: #ffffff;
    /* Box background */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    height: 40vh;
}


.requests-title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.requests-scroll {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    /* Enable horizontal scrolling */
    height: auto;
    /* Fixed height for the box */

}