@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

/* STOP FUCKING EDITING THIS SHIT */
/* IVE FIXED IT AT LEAST 3 TIMES */
/* PLEASE */

.wholething {
    background: linear-gradient(to right, #3361ac, #162f65);

    display: flex;
    justify-content: center;
    align-items: top;
    padding: 5vw;

    height: 96vh;
    width: 100vw;
}
 
.login {
    background-color: #ffffff;
    color: #0f2403;

    display: flex;
    justify-content: center;
    align-items: top;

    height: 40vw;
    width: 40vw;
    padding-top: 0%;

    border: 8px solid #e8af30;
    border-radius: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40vw;

    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.heading {
    margin-bottom: 5vh;

    font-size: 110px;
}

.input {
    background-color: #e7e6dd;
    color: #0f2043;
    margin-bottom: 10px;
    padding: 8px;
    width: 27vw;
    height: 6vh;

    border: 4px solid #0f2403;
    border-radius: 5px;

    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}

.button {
    background-color: #e8c766;
    color: #0f2043;
    cursor: pointer;
    width: 18vw;
    height: 8vh;

    margin-top: 2vh;
    margin-bottom: 2vh;

    border: 4px solid #3361ac;
    border-radius: 10px;

    font-family: 'Rubik', sans-serif;
    font-size: 24px;
}

.button:hover {
    background-color: #e8af30;
}

.registerer:link {
    color: #162f65;

    font-size: 20px;
    text-decoration: none;
}

.registerer:visited {
    color: #0f2043;
}