@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

.wholething {
    background: linear-gradient(to right, #3361ac, #162f65);

    display: flex;
    justify-content: center;
    align-items: top;
    padding: 5vw;

    height: 50vw;
}
 
.login {
    background-color: #ffffff;
    color: #0f2403;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 40vw;
    width: 40vw;
    padding-top: 0%;

    border: 9px solid #e8af30;
    border-radius: 30px;
}

.form {
    width: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.heading {
    font-size: 100px;

    margin-bottom: 4vh;
}

.input {
    background-color: #e7e6dd;
    color: #0f2043;
    margin-bottom: 10px;
    padding: 8px;
    width: 30vw;
    height: 7vh;

    border: 4px solid #0f2403;
    border-radius: 4px;

    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

.button {
    background-color: #e8c766;
    color: #0f2043;
    cursor: pointer;
    width: 280px;
    height: 70px;

    margin-top: 2vh;
    margin-bottom: 10px;

    border: 4px solid #3361ac;
    border-radius: 10px;

    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}

.button:hover {
    background-color: #e8af30;
}

.registerer:link {
    color: #162f65;
}

.registerer:visited {
    color: #0f2043;
}