body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .messaging-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
  }
  
  .messages-box {
    background-color: #fff;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /*
  h2 {
    this cant just be called h2 because for some fucking reason it effects css in components that dont even import this file. i fucking hate this shit and i dont understand why whichever person or group was responsible for this decided to make my life harder by creating this dumb ass functionality. 

    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }
*/
  
  .messages-list {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 20px;
  }
  
  .message {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    max-width: 80%;
  }
  
  .send-form {
    display: flex;
    width: 80%;
    max-width: 600px;
  }
  
  .message-input {
    width: 90%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .send-button {
    width: 10%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: #3361ac;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  .send-button:hover {
    background-color: #162f65;
  }
  