@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

.whole-thing {
  width: 100vw;
  height: 95vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;

  background-color: #3361ac;
  background: linear-gradient(to bottom right, #3361ac, #162f65);
}

.profile-container {
  /* box that has everythin g */
    width: 80vw;
    height: 80vh; 
    margin-top: 10vh;
    padding: 2vh;

    background-color: #e7e6dd;

    border-radius: 8px;
    border: 0.75vh outset #162f65;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Profile Header */
  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .profile-info h1 {
    /* first name and last name of account */
    font-size: 24px;
    margin: 0;

    font-family: 'Rubik', sans-serif;
  }

  .profile-info p {
    /* username and email of account */
    margin: 5px 0;
    color: #72726E;

    font-family: 'Rubik', sans-serif;
  }

  .bio-input {
    background: none;
    border: none;

    color: #72726E;

    font-family: 'Rubik', sans-serif;
  }
  
  .skills-section {
    /* everything in the box apart from the pfp and info */
    height: 63vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .title-skills-container {
    /* this exists purely to make the heading be right above the skills while keeping the new skill button at the bottom */
    border: 0px;
  }
  
  .skills-section h2 {
    /* heading of skills section */
    text-align: center;
    font-size: 20px;

    font-family: 'Rubik', sans-serif;
    font-size: 35px;
  }

  .skills-section p {
    /* message that shows up when no skills are added */
    color: #72726E;

    font-family: 'Rubik', sans-serif;
    font-size: 20px;
  }
  
  .skills-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    list-style-type: none;
    padding: 0;
  }
  
  .add-skill-button {
    height: 10vh;
    width: 17vw;
    margin: 0 auto;
    margin-bottom: 15vh;

    background-color: #e8c766;
    color: #0f2043;

    border: 4px solid #3361ac;
    border-radius: 10px; 

    font-family: 'Rubik', sans-serif;
    font-size: 25px;

    cursor: pointer;
  }

  .add-skill-button:hover {
    background-color: #e8af30;
  }

  
  .Bio p {
    color: #72726E;

    font-family: 'Rubik', sans-serif;
    font-size: 20px;
  }

  .change-button {
    width: 1.5vw;
    height: 1.5vw;

    margin-left: 1vw;

    color: #72726E;
    background: none;

    border: 2px solid #72726E;

    border-radius: 5px;
    cursor: pointer;

    font-size: 16px;
  }
  
  .change-button:hover {
    background-color: #0056b3;
  }
  

  .bio-header h2 {
    text-align: center;
    font-size: 20px;

    font-family: 'Rubik', sans-serif;
    font-size: 35px;
  }
  
  /*
  need to change the position of this button
  */
  .change-field-button {
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 12px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .change-field-button:hover {
    background-color: #0056b3;
  }
  